@import "./reset.css";

:root {
  font-family: var(--jm-font-family);
  font-size: 16px;
  line-height: var(--jm-line-height-normal);
  font-weight: var(--jm-font-weight-regular);
  color: var(--jm-color-text-primary);
  background: var(--jm-color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
